button{
    background-color: rgb(108, 224, 121);
    width: 100px;
    height: 40px;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}

.changeButton{
    background-color: rgb(202, 126, 126);
    width: 100px;
    height: 40p;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}